body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 30px; 
}

nav {
  position: sticky;
}

img {
  width: 100%;
  height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Noto Sans", sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  li.active-link a {
    background-color: #219195;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }

  .bluenude-first-display {
    max-height: 700px;
    width: auto;
    margin: 0 auto;
  }

  .scroll-cont {
    height: 700px;
    background-color: rgb(179, 232, 218);
    overflow: auto;
    white-space: nowrap;
  }

  .scroll-row {
    overflow: auto;
    white-space: nowrap;
  }

  .scroll-row img {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .scroll-item {
    display: inline-block;
    margin: 0 75px;
    width: 450px;
  }

  .scroll-item p {
    white-space: normal;
  }
